*,
*::after
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}
:root {
    --primary: rgba(232,128,127, 0.3)  ;
    --secondary: black  ;
    --alternative:linear-gradient(--bottom-right, rgba(221,17,170,1), rgba(119,9,92,0.9) ) ;
    --bgHeaderFooter:linear-gradient(to right,rgba(252,250,241,1),rgba(157,108,108,1), rgba(221,17,170,1),rgba(232,128,127,1),rgba(225,90,158,1))  ;
    --awesome: ;
    --bgCaAbout: ; 
    --mainBox-shadow: ; 
    --card-box-shadow:;
    --text-shadow: ;
    --mainBg: ;
    --bgImg: ;
}
@property --top-left {
    syntax:"<percentage>" ;
    inherits: false ;
    initial-value: 50% ;
}

@property --top-right{
    syntax: "<Percentage>" ;
    inherits: false ; 
    initial-value: 50%;
}

@property --bottom-left{
    syntax: "<percentage>" ;
    inherits: false;
    initial-value: 0% ;
}

@property --bottom-right {
    syntax: "<percentage>";
    inherits: false ; 
    initial-value: 0% ;
}

/* Navbar */
.navbar{
    padding: 0;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
      
}

:is(.container-fluid , .dropdown-menu){
    background-image: var(--bgHeaderFooter);
}

img[alt='profile'] /* Attribute Selector [] */ {
    width/*Property*/: 25rem;
    aspect-ratio: 1/1; 
    object-fit: cover; /*Image to fit in the object element , you can use contain as a value as well*/
    object-position: center; /* To place the image */
   
}

img[alt='logo'] /* Attribute Selector [] */ {
    width/*Property*/: 6rem;
    aspect-ratio: 1/1; 
    object-fit: cover; /*Image to fit in the object element , you can use contain as a value as well*/
    object-position: center; /* To place the image */

}

body{
        font-family: "Italianno", cursive;
        font-weight: 400;
        font-style: normal; 
        min-width: 100vw;
        overflow-x: hidden;    
}
/* Grid Layout */ /* vh dvh */
:is(body) {
    display: grid;
    text-align: center;
}
/*Create three rows*/
:is(body) {
    grid-template-rows: auto 
    minmax(100%,100dvh) auto;
}
h1{
    font-size: 7rem;  
}
.lead{
    font-size: 3.5rem;
}
.homeText{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

@media (width < 769px){
    .homeText{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
.aboutColor{
    background-color: var(--primary) ;
}
.display-2{
 font-size: 6rem;
}
.AboutText{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
 font-size : 2rem ;
}
.full-height{
    min-height: 100vh;
    height: auto;
}
.ResumeText{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
 font-size : 2rem ;
}
.resumeColor{
    background-image: var(--alternative) ;
}
