*,
*::after
*::before {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    display: none;
}
:root {
    --primary: rgba(232,128,127, 1)  ;
    --secondary: black  ;
    --alternative:linear-gradient(--bottom-right, rgba(221,17,170,1), rgba(119,9,92,0.9) ) ;
    --bgHeaderFooter:linear-gradient(to right,rgba(252,250,241,1),rgba(157,108,108,1), rgba(221,17,170,1),rgba(232,128,127,1),rgba(225,90,158,1))  ;
    --awesome: ;
    --bgCaAbout: ; 
    --mainBox-shadow: ; 
    --card-box-shadow:;
    --text-shadow: ;
    --mainBg: ;
    --bgImg: ;
}
@property --top-left {
    syntax:"<percentage>" ;
    inherits: false ;
    initial-value: 50% ;
}

@property --top-right{
    syntax: "<Percentage>" ;
    inherits: false ; 
    initial-value: 50%;
}

@property --bottom-left{
    syntax: "<percentage>" ;
    inherits: false;
    initial-value: 0% ;
}

@property --bottom-right {
    syntax: "<percentage>";
    inherits: false ; 
    initial-value: 0% ;
}

/* Navbar */
.navbar{
    padding: 0;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "width" 100;
      
}

:is(.container-fluid , .dropdown-menu){
    background-image: var(--bgHeaderFooter);
}

img[alt='profile'] /* Attribute Selector [] */ {
    width/*Property*/: 25rem;
    aspect-ratio: 1/1; 
    object-fit: cover; /*Image to fit in the object element , you can use contain as a value as well*/
    object-position: center; /* To place the image */
   
}

img[alt='logo'] /* Attribute Selector [] */ {
    width/*Property*/: 6rem;
    aspect-ratio: 1/1; 
    object-fit: cover; /*Image to fit in the object element , you can use contain as a value as well*/
    object-position: center; /* To place the image */

}

body{
        font-family: "Italianno", cursive;
        font-weight: 400;
        font-style: normal; 
        min-width: 100vw;
        overflow-x: hidden;  
        display: flex;
        justify-content: center;
        /* background-color: gray; */
          
}
/* Grid Layout */ /* vh dvh */
:is(body) {
    display: grid;
    text-align: center;
}
/*Create three rows*/
/* :is(body) {
    grid-template-rows: auto 
    minmax(100%,100dvh) auto;
} */
h1{
    font-size: 7rem;  
}
.lead{
    font-size: 3.5rem;
}

.homeText{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

@media (width < 769px){
    .homeText{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
#about{
    width: 100vw;
}
.aboutColor{
    background-color: var(--primary) ;
}
.display-2{
 font-size: 6rem;
}
.text{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
 font-size : 2rem ;
}
.full-height{
    min-width: 100vw;
    min-height: 100vh;
    height: auto;
}
/*RESUME STYLE*/
.resumeColor{
    background-image: linear-gradient(rgba(221,17,170,1), rgba(119,9,92,1));
}
    .timeline {
      position: relative;
      padding: 0;
      list-style: none;
      font-family: "Open Sans", sans-serif;
    }
    
    .timeline:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      width: 0.125rem;
      background: #9d6c6c
      left: 50%;
      margin-left: -0.063rem;
    }
    
    .timeline-item {
      margin-bottom: 50px;
      position: relative;
    }
    
    .timeline-item:before,
    .timeline-item:after {
      content: "";
      display: table;
    }
    
    .timeline-item:after {
      clear: both;
    }
    
    .timeline-item .timeline-content {
      background: #ffe4d6;
      padding: 1.25rem;
      border-radius: 0.5rem;
      box-shadow: 0 0 0.313rem rgba(0,0,0,0.1);
    }
    
    .timeline-item .timeline-content h2 {
      margin-top: 0;
    }
    
    .skills-table {
      width: 100%;
      border-collapse: collapse;
      font-family: "Open Sans", sans-serif;
    }
    
    .skills-table th, 
    .skills-table td {
      border: 0.063rem solid #E8807F;
      padding: 0.5rem;
      text-align: left;
    }
    
    .skills-table th {
      background-color: #E8807F;
      color: #fff;
    }
    
    .skills-table tbody tr:nth-child(even) {
      background-color: #E8807F;
    }
    .hobby-card {
        background-color: #DF5A9E;
        border: 0.063rem solid #dee2e6;
        border-radius: 0.5rem;
        padding: 1.25rem;
        margin-bottom: 1.25rem;
        box-shadow: 0 0 0.313rem rgba(252,250,241,1);
        font-family: "Open Sans", sans-serif;
        justify-content: center;
        
      }
      .hobby-card h3 {
        color: rgb(241, 191, 211);
      }